
 /*@media all and (max-width: 600px) {
  .mob-table thead {
    display: none;
  }

  .mob-table td {
    display: flex;
  } 
}*/

.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.table-condensed {
  font-size: 11px;
}

table td {
  height: 55px;
  vertical-align: center;
  text-align: center;
} 